<nav id="navbar" class="navbar">
    <div class="col-6 nav-title"><a href="{{ path('app_home') }}">TonInstru</a></div>
    <div class="col-6 nav-list">
        <a class="nav-item nav-link" href="#">Offres</a>
        <a class="nav-item nav-link" href="#">Demandes</a>
        <a class="nav-item nav-link" href="#">Faire une annonce</a>
        <a class="nav-item nav-link" href=" {{ path('app_login') }} ">Connexion</a>
    </div>
</nav>
